.dark{
    background-color: #111;
    color: rgb(226, 226, 226);
    .chartGrid {
        stroke: rgba(228, 288, 228, 0.219);
    }
    .table{
        background-color: #111;
        .tableCell{
            color:gray;
        }
    }
    .navbar{
        color: rgb(226, 226, 226);
        border-color: #333;
        .search{
            border-color: gray;
        }
    }
    .sidebar{
        background-color: #111;
        border-color: #333;
        .top{
            .logo{
                color: rgb(226, 226, 226);
            }
        }
        hr {
            border-color: #333;
        }
        ul{
            li{
                &:hover{
                    background-color: #333;
                }
                .icon{
                    color: #999;
                }
            }
        }
    }

    .datatable{
        .datagrid{
            color: rgb(226, 226, 226);
            border: none;
            .viewButton,
            .deleteButton ,
            .cellWithStatus {
                color: rgb(226, 226, 226);
                border: none;
            }
        }
    }
    input{
        background-color: transparent;
    }
}