.cualquiera {
    width: 100%;
    height: 100%;
    flex-direction: row;
    display: flex;
    overflow-y: hidden;

    .map{
        width: 100%;
        height: 100%;
        flex-direction: row;
        display: flex;
        justify-content: center;
    
        .mapContainer {
            width: 100%;
            height: 100%;
        }
    }

    .ubicationController {
        margin-top: 68px;
        margin-left: 10px;
        background-color: white;
        border: 1px solid white;
        width: 26px;
        height: 26.5px;
        position: absolute;
        justify-content: center;
        align-items: center;
        border-radius: 10%;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        box-shadow: 0 0 3px rgba(0,0,0,0.2);
        z-index: 1000;

        .buttonUbication{
            width: 60%;
            height: 60%;
            color: grey;
        }
    }

    .clients {
        width: 30%;
        height: 80%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow: auto;
        padding: 10px;

        .clientsContainer {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            .title {
                width: 100%;
                height: 10%;
                display: flex;
                justify-content: top;
                align-items: left;
                font-size: 20px;
                font-weight: bold;
            }
        }

        .list {
            width: 100%;
            height: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            overflow: hidden;

            .client {
                width: 80%;
                height: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                overflow: auto;
                border: 1px solid black;
                margin: 5px;
                padding: 5px;
                border-radius: 5px;
                // do not select text
                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                .clientContainer {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                    .clientName {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                        overflow: hidden;
                    }

                    .clientUbication {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        flex-wrap: wrap;
                        overflow: auto;
                    }
                }
            }
        }
    }
}