.cualquiera {
    width: 100%;
    height: 100%;
    flex-direction: row;
    display: flex;
    overflow-y: hidden;

    .title {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: top;
        align-items: left;
        font-size: 20px;
        font-weight: bold;
    }

    .map{
        width: 100%;
        height: 100%;
        flex-direction: row;
        display: flex;
        justify-content: center;
    
        .mapContainer {
            width: 100%;
            height: 100%;
        }
    }

    .iconMap {
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100 !important;
        cursor: pointer;
    }

    .clients {
        width: 30%;
        height: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow: auto;
        padding: 10px;
        

        .clientsContainer {
            width: 100%;
            height: 100%;
            display: column;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        .list {
            width: 100%;
            height: 90%;
            display: flex;
            flex-direction: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            grid-gap: 10px;
            justify-content: center;
            align-items: top;
            overflow: auto;

            .client {
                width: 60%;
                height: 15%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                overflow: auto;
                border: 1px solid black;
                margin: 5px;
                padding: 5px;
                border-radius: 5px;

                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                .clientContainer {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                    .clientName {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                        overflow: hidden;
                    }

                    .clientUbication {
                        display: flex;
                        flex-wrap: wrap;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}